/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Chewy');

h2,p,h1,h3,h4,h5,h6 {
	font-family: 'Work Sans', sans-serif;
}

a#logo {
	font-family: 'Chewy', cursive;
	font-size: 3em;
}

.fixed-action-btn {
  float: right;
  position: relative;
  left: 0px;
  bottom: 0px;
}

.img {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}

.msg {
	min-height: 60vh;
}

.pets {
	min-height: 60vh;
}

.profile {
	min-height: 60vh;
}

.login {
	min-height: 60vh;
}
