<div class="container">
<h3 style="text-align:center">❤️Check out our Success Stories❤️</h3>


<div class="col s12 m7">
    <h3 class="header">Prince & Princess</h3>
    <div class="card horizontal cyan lighten-2 small">
      <div class="card-image">
        <img src="http://stories.barkpost.com/wp-content/uploads/2016/06/Dog-Couple-12.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>We met back in 2015. Prince swiped Princess off her feet. Pair pets has changed our lives for the better!!</h5>
        </div>
      </div>
    </div>
  
  	<h3 class="header">Pugoo & Pingoo </h3>
    <div class="card horizontal blue lighten-2 small">
      <div class="card-image">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-11/7/12/campaign_images/buzzfeed-prod-fastlane03/19-baby-pugs-so-ridiculously-cute-that-youll-die--2-24604-1478538182-1_dblbig.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Pugoo flew all the way from China to meet Pingoo. They are now together in Australia. Their love is international and so is Pair pets!</h5>
        </div>
      </div>
    </div>

    <h3 class="header">Pompom & Pomi</h3>
    <div class="card horizontal cyan lighten-2 small">
      <div class="card-image">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/f5/4d/3f/f54d3f2358b1b1a7c5c5add122fe6dc8--cutest-dogs-cutest-animals.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Pompom and Pomi are the best looking couple around. They swiped right for love!</h5>
        </div>
      </div>
    </div>

    <h3 class="header">Sam & Ham</h3>
    <div class="card horizontal blue lighten-2 small">
      <div class="card-image">
        <img src="https://stromtherapy.files.wordpress.com/2013/07/napping-dogs.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Sam and Ham are the newest pair from Pair pets! Puppy love lasts forever in Pair pets :) </h5>
        </div>
      </div>
    </div>
</div>



  </div>